.html {
  cursor: none;
}
.ativo {
  color: tomato;
  text-decoration: none;
}

.ativo a {
  color: tomato;
  text-decoration: none;
}

.texto {
  display: none;
}

.texto.ativar {
  display: block;
}

#circulo {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #999;
  position: absolute;
}
